@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
    font-family: 'quicksandregular';
    src: url('fonter/quicksand-regular-webfont.woff2') format('woff2'),
         url('fonter/quicksand-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
  box-sizing: border-box;
}

header > nav {
    z-index: 20;
    position: flex-wrap;
    font-size: 1.5em;
    width: 100%;
    padding: 1%;
    display: flex;
    background-color: rgb(0, 0, 0);
  }

ul{
   list-style-type: none;
   margin: 0;
   padding: 0;
   font-family: 'Roboto', sans-serif;
}
  
.navbar {
    position: relative;
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
  
.navbar > li {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    width: auto;
    display: flex;
}
  
.navbar > li > a {
      color: lightgrey;
      text-decoration: none;
      will-change: transform, color, text-decoration;
      transition: 250ms all ease-out;
      position: relative;
      padding: 8px 16px;
}
  
.navbar > li > a:hover {
      transform: scale(1.2);
      perspective: 200px;
      color: white;
      text-decoration: underline;
}

main {
    margin: auto;
    width: 50%;
    padding: 20px;
    background-image: linear-gradient(to bottom left,rgb(0, 0, 0), rgb(241, 214, 238));
    background-attachment:fixed;
}

body {
  margin: auto;
  width: 100%;
  padding: 0px;
  background-image: linear-gradient(to bottom left,rgb(0, 0, 0), rgb(241, 214, 238));
  background-attachment:fixed;
}

.text {
    position: ;
    z-index: 2; 
    width: 80%;
    bottom: 0;
    left: 20px;
}

.text > h2 {
    background: rgba(255, 255,   255, 0.35);
    transform: translateX(20px) translateY(25%);
    margin: 0;
    padding: 8px 16px;
}

.text > p {
    background: rgba(255, 255,   255, 0.55);
    margin: 0;
    padding: 8px 16px;
}


.galleri {
    position: relative;
    display: flex;
    justify-content: relative;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}
.ramme {
    position: relative;
    width: 50vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
    padding-bottom: 25px;
}

.ramme h2 {
    margin: 16px;
}

.ramme p {
    position: relative;
    width: 100%;
    height: auto;
    text-align: justify;
    padding: 0;
    margin: 16px;
}

.ramme > img{
    position: sticky;
    width: 100%;
    height: 28vw;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: 1;
    padding: 0;
    margin: 0;
}

