@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  box-sizing: border-box;
}
  
.navbar {    
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    width: 100%;
    background-color: rgb(0, 0, 0);
    margin: 0;
    padding: 0.5em;
    position: fixed;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
  
.navbar > li > a {
      display: fixed;
      color: lightgrey;
      text-decoration: none;
      will-change: transform, color, text-decoration;
      transition: 250ms all ease-out;
      position: relative;
      padding: 8px 16px;
}
  
.navbar > li > a:hover {
      transform: scale(1.1);
      perspective: 200px;
      color: white;
      text-decoration: underline;
}

body {
  margin: auto;
  width: 100%;
  padding: 0px;
  background-image: linear-gradient(to bottom left,rgb(65, 52, 66), rgb(241, 214, 238));
  background-attachment:fixed;
}

main {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 90%;
    max-width: 800px;
    padding: 40px;
    background-attachment:scroll;
    background-color: white;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 10px;
    box-shadow: 0 0 10px;
}

.image {
    position: sticky;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: center;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    object-fit: cover;
  }

p{
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    text-align: flex-start;
    line-height: 1.5em;
}

h1,h2,h3,h4,h5{
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

h1{
    font-size: 2.2em;
    margin-top: 0px;
}

h2{
    font-size: 1.6em;
}

section{
    position: relative;
    width: 100%;
}

#drinker {
  overflow: hidden;
}
#drinker figure {
  position: relative;
  width: 900%;
  margin: 0;
  left: 0;
  animation: 25s drinker infinite;
}
#drinker figure img {
width: 11%;
float: left;
}

@keyframes drinker {
  0% {
    left: 0;
  }
  8.3% {
    left: 0;
  }
  11.1% {
    left: -100%;
  }
  19.4% {
    left: -100%;
  }
  22.2% {
    left: -200%;
  }
  30.5% {
    left: -200%;
  }
  33.3% {
    left: -300%;
  }
  41.6% {
    left: -300%;
  }
  44.4% {
    left: -400%;
  }
  52.7% {
    left: -400%;
  }
  55.5% {
    left: -500%;
  }
  63.8% {
    left: -500%;
  }
  66.6% {
    left: -600%;
  }
  74.9% {
    left: -600%;
  }
  77.7% {
    left: -700%;
  }
  86% {
    left: -700%;
  }
  88.8% {
    left: -800%;
  }
  97.1% {
    left: -800%;
  }
  100% {
    left: -900%;
  }
}
