@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  box-sizing: border-box;
}

main {
	position:relative;
	overflow-x:hidden;
}

/* Oragniserer bakgrunnen og hoved"kroppen" til siden */
body {
  margin: auto;
  width: 100%;
  background-color: rgb(17, 21, 14);
}

/*alt av navbar */


/*selvforklarende sticky navbar/header*/  
header{
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1;
}
/*alt av navbar */
.navbar {    
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  width: 100%;
  background-color: rgb(0, 0, 0);
  margin: 0;
  padding: 0.5em;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
}
.navbar > li > a {
    display: flex;
    color: lightgrey;
    text-decoration: none;
    will-change: transform, color, text-decoration;
    transition: 250ms all ease-out;
    position: relative;
    padding: 8px 16px;
}
.navbar > li > a:hover {
    transform: scale(1.1);
    perspective: 200px;
    color: white;
    text-decoration: underline;
}


/*størrelse / utseende på bildene våres*/
.image {
    position: sticky;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: center;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    object-fit: cover;
  }
/*Størrele og font*/
p{
    font-family: 'Roboto', sans-serif;
    font-size: 0.8em;
    text-align: flex-start;
    line-height: 1.5em;
}

/*Størrele og font*/
h1{
  font-family: 'Roboto', sans-serif;
  text-align: center;
    font-size: 1em;
    margin-top: 0px;
}
/*Karusellen (bilder)*/
/*Gjemmer bildene som går mot venstre når de er ute av skjermen*/
#drinker {
  overflow: hidden;
}
/*Plassering, størrelse etc av karusell bildene*/
#drinker figure {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: absolute;
  top: 103.5vw;
  width: 100%;
  margin: 0;
  left: 0;
  animation: 20s drinker infinite;
 /* animation-timing-function: linear; */
}
/*Bredden på bilder og hvilken vei de skal lytte seg mot*/
#drinker figure img {
width: 12.5%;
float: left;
opacity: 0.92;
margin-left: 100vw;
}
/*Hvordan bildene beveger seg etter #keyframes*/
@keyframes drinker {
  0% {left: 0vw;}
  12.5% {left: -50vw;}
  25% {left: -162vw;}
  37.5% {left: -274vw;}
  50% {left: -386vw;}
  62.5% {left: -498vw;}
  75% {left: -610vw;}
  87.5% {left: -722vw;}
  100% {left: -885vw;}
}
/*Karusellen (tekst)*/
/*Gjemmer tekst som går mot venstre når de er ute av skjermen*/
#oppskrifter {
  overflow:hidden;}
/*Hvordan teksten er satt opp uten wrap, plassering på tekst boksen og "animation" sin tidssrom*/
#oppskrifter figure {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: absolute;
  top: 123vw;
  margin: 0;
  left: 0;
  animation: 20s oppskrifter infinite;
 /* animation-timing-function: linear; */
}
/*Størrelse på "boksen" til teksten, samt farge og andre estetiske elementer*/
#oppskrifter div{
  width: 30vw;
  float: left;
  margin-left: 100vw;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

/*Hvordan teksten beveger seg etter #keyframes, i takt med bildene*/
@keyframes oppskrifter {
  0% {left: 0vw;}
  12.5% {left: -58vw;}
  25% {left: -188vw;}
  37.5% {left: -318vw;}
  50% {left: -447vw;}
  62.5% {left: -577vw;}
  75% {left: -707vw;}
  87.5% {left: -837vw;}
  100% {left: -1000vw;}
}

/*Endrer tekst størrelse ved 768px skjerm, slik at 
teksten ikke blir for stor*/
@media screen and (max-width: 768px){
  .navbar{
    font-size: 1em;
  }
}
  
